html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font-size: 16px;
  font-family: 'Microsoft Yahei';
}

.list-container .wrapper {
  top: 0;
  height: 1.17333rem;
  box-shadow: 0 0 1px 1px #ccc;
  overflow: hidden;
  background: #ffffff;
}
.list-container .wrapper ul.yltdh {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 13.13333rem;
  height: 1.17333rem;
  z-index: 999;
}
.list-container .wrapper ul.yltdh li {
  float: left;
  font-size: 0.4rem;
  margin: 0.33333rem 0.33333rem 0.37333rem;
  color: #9a9a9a;
}
.list-container .wrapper ul.yltdh li.active {
  color: #57bf3f;
}
.list-container .wrapper ul.yltdh :nth-child(1) {
  margin-right: 0.04rem;
  margin-top: 0.2rem;
}
.list-container .wrapper ul.yltdh li.searchIcon {
  width: 0.62667rem;
  height: 0.62667rem;
  background: url("../images/yldIcon.png") 0 0.13333rem no-repeat;
  background-size: cover;
}
.list-container .searBtn {
  position: absolute;
  z-index: 2;
  top: 0;
  padding: 0.14667rem 0;
  background: #fff;
}
.list-container .searBtn::before {
  content: '';
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  margin-top: 0.12rem;
  margin-left: 0.46667rem;
  background: url("../images/yldIcon.png") 0rem 0.13333rem no-repeat;
  background-size: cover;
}
.list-container .searBtn input[type=text], .list-container .searBtn .searRight {
  float: left;
}
.list-container .searBtn input[type=text] {
  width: 7.37333rem;
  height: 0.77333rem;
  margin-left: 0.30667rem;
  border: 1px solid #eee;
  color: #7c7c7c;
  border-radius: 3px;
  outline: none;
  padding-left: 0.93333rem;
  background: #f6f6f6;
}
.list-container .searBtn .searRight {
  width: 1.30667rem;
  height: 0.84rem;
  line-height: 0.84rem;
  color: #7c7c7c;
  text-align: center;
  font-size: 0.33333rem;
}
.list-container .list-content {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  padding: 1.17333rem 15px 0;
  padding: 0 15px;
}
.list-container .list-content .list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0.4rem 0;
  border-bottom: 1px solid #F1F1F1;
}
.list-container .list-content .list-item a {
  text-decoration: none;
  color: #9D9D9D;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
.list-container .list-content .list-item .list-img {
  width: 1.65333rem;
  height: 1.65333rem;
}
.list-container .list-content .list-item .list-img .img {
  display: block;
  width: 1.65333rem;
  height: 1.65333rem;
  border-radius: 50%;
}
.list-container .list-content .list-item .list-info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 0.37333rem;
  box-sizing: border-box;
}
.list-container .list-content .list-item .list-info .list-explain {
  width: 100%;
  overflow: hidden;
  font-size: 0.26667rem;
  color: #9D9D9D;
}
.list-container .list-content .list-item .list-info .list-title {
  font-size: 0.48rem;
  color: #000;
  margin-bottom: 0.13333rem;
}
